@import "../../Styles/constant";
@import "../../Styles/variables";

.contactPageForm {
  display: flex;
  // background: red;

  .contactPageFormLeft {
    // flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 4rem;
    // gap: 1rem;
    .contactPageFormLeftTitle {
      font-size: 45px;
      font-weight: 400;
      color: #f5f5f5; /* fallback color */
      background: linear-gradient(to right, #0565fe, #d241a4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-wrap: nowrap;
      margin-bottom: 1.5rem;
      text-transform: capitalize;
    }
    .contact-info {
      border-bottom: 1px solid silver;
      padding-bottom: 1rem;
      .contactinfoHeder {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 40px;
        }
        span {
          font-size: 20px;
          font-weight: 600;
          color: black;
        }
        // span::after {
        //   content: "";
        //   position: absolute;
        //   color: black;

        //   left: 0;
        //   bottom: 0;
        //   width: 100%;
        //   height: 2px;
        //   background: black;

        //   transform: scaleX(0);
        //   margin-top: 1rem;
        //   transform-origin: right;
        //   transition: all 250ms ease-in;
        // }
        // span:hover:after {
        //   transform: scaleX(1);
        //   transform-origin: left;
        //   color: black;
        // }
      }
      .contact-content {
        display: flex;
        align-items: center;
        // padding-left: 2rem;
        padding-top: 0.5rem;
        gap: 1rem;
        svg {
          font-size: 20px;
        }

        span {
          font-size: 16px;
          word-spacing: 2px;
          letter-spacing: 1px;
          position: relative;
          cursor: pointer;
          color: black;
          a {
            text-decoration: none;
            color: black;
            cursor: default;
            span{
              font-weight: 800;
            }
          }
        }
        // span::after {
        //   content: "";
        //   position: absolute;
        //   color: black;

        //   left: 0;
        //   bottom: 0;
        //   width: 100%;
        //   height: 2px;
        //   background: rgba(0, 0,0,0.8);

        //   transform: scaleX(0);
        //   margin-top: 1rem;
        //   transform-origin: right;
        //   transition: all 250ms ease-in;
        // }
        // span:hover:after {
        //   transform: scaleX(1);
        //   transform-origin: left;
        //   color: black;
        // }
      }
      .contactIframe {
        // display: none;
        margin-top: 1rem;
      }
    }
    .customContact-info {
      border-bottom: none;
      padding-top: 1rem;
      // margin-bottom: 1rem;
      .contact-content {
        svg {
          font-size: 25px;
        }
      }
    }
    .USAContact-info {
      padding-top: 1rem;
      // margin-bottom: 1rem;
      .contact-content {
        svg {
          font-size: 25px;
        }
      }
    }
  }
  .contactPageFormRight {
    // flex: 1;
    margin: 2rem;
    margin-left: 0;
    // background:yellow;
    height: 30rem;
    display: flex;
    flex-direction: column;
    .contactRow {
      display: flex;
      // justify-content: s;
      gap: 1rem;
      .inputItem {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 2rem;
        label {
          color: #0565fe;
          font-size: 16px;
        }

        input {
          outline: none;
          border: none;
          border: 1px solid silver;
          // margin-top: 1rem;
          width: 250px;
          padding: 1rem;
          border-radius: 5px;
        }
        .contactCaptchaContainer {
          margin: 1rem 0;
          display: flex;
          gap: 1rem;
          align-items: center;
          span {
            background: black;
            color: white;
            padding: 5px 10px;
          }
          svg {
            color: #0565fe;
            font-size: 20px;
            cursor: pointer;
          }
        }
        .captcheresult{
color: red;
          font-size: 16px;

        }
      }
    }
    .customInputArea {
      display: flex;
      flex-direction: column;
      .inputItem {
        display: flex;
        flex-direction: column;
      }
    }
    .customButton{
      button{
        cursor: pointer;
        padding: 10px 15px;
        margin-top: 1rem;
        outline: none;
        border: none;
        background: #0565fe;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: #{$tablet-breakpoint - 1}) {
  .contactPageForm {
    // display: flex;
    // background: red;
    flex-direction: column;

    .contactPageFormLeft {
      // flex: 1;
      // display: flex;
      // flex-direction: column;
      padding-left: 0rem;
      padding: 1rem;

      // gap: 1rem;
      .contactPageFormLeftTitle {
        font-size: 35px;
        font-weight: 700;
        // color: #f5f5f5; /* fallback color */
        // background: linear-gradient(to right, #0565fe, #d241a4);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        text-wrap: wrap;
        // margin-bottom: 1.5rem;
        // text-transform: capitalize;
      }
      .contact-info {
        border-bottom: 1px solid silver;
        padding-bottom: 1rem;
        .contactinfoHeder {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 40px;
          }
          span {
            font-size: 20px;
            font-weight: 600;
            color: black;
          }
          // span::after {
          //   content: "";
          //   position: absolute;
          //   color: black;

          //   left: 0;
          //   bottom: 0;
          //   width: 100%;
          //   height: 2px;
          //   background: black;

          //   transform: scaleX(0);
          //   margin-top: 1rem;
          //   transform-origin: right;
          //   transition: all 250ms ease-in;
          // }
          // span:hover:after {
          //   transform: scaleX(1);
          //   transform-origin: left;
          //   color: black;
          // }
        }
        .contact-content {
          display: flex;
          align-items: center;
          // padding-left: 2rem;
          padding-top: 0.5rem;
          gap: 1rem;
          svg {
            font-size: 20px;
          }

          span {
            font-size: 16px;
            word-spacing: 2px;
            letter-spacing: 1px;
            position: relative;
            cursor: pointer;
            color: black;
            a {
              text-decoration: none;
              color: black;
            }
          }
          // span::after {
          //   content: "";
          //   position: absolute;
          //   color: black;

          //   left: 0;
          //   bottom: 0;
          //   width: 100%;
          //   height: 2px;
          //   background: rgba(0, 0,0,0.8);

          //   transform: scaleX(0);
          //   margin-top: 1rem;
          //   transform-origin: right;
          //   transition: all 250ms ease-in;
          // }
          // span:hover:after {
          //   transform: scaleX(1);
          //   transform-origin: left;
          //   color: black;
          // }
        }
        .contactIframe {
          // display: none;
          margin-top: 1rem;
        }
      }
      .customContact-info {
        border-bottom: none;
        padding-top: 1rem;
        // margin-bottom: 1rem;
        .contact-content {
          svg {
            font-size: 25px;
          }
        }
      }
    }
    .contactPageFormRight {
      flex: 1;
      margin: 0rem;
      padding: 1rem;
      padding-bottom: 3rem;
      // margin-left: 0;
      // // background:yellow;
      // height: 30rem;
      // display: flex;
      // flex-direction: column;
      gap: 2rem;
      .contactRow {
        width: 100%;
        padding-right: 1rem;
        display: flex;
        // justify-content: s;
        gap: 1rem;
        flex-direction: column;
        .inputItem {
          display: flex;
          flex-direction: column;
          gap: 3px;
          margin-top: 2rem;
          label {
            color: #0565fe;
            font-size: 16px;
          }
  
          input {
            outline: none;
            border: none;
            border: 1px solid silver;
            // margin-top: 1rem;
            // width: 240px;
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
          }
          .contactCaptchaContainer {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;
            align-items: center;
            span {
              background: black;
              color: white;
              padding: 5px 10px;
            }
            svg {
              color: #0565fe;
              font-size: 20px;
              cursor: pointer;
            }
          }
          .captcheresult{
  color: red;
            font-size: 16px;
  
          }
        }
      }
      .customInputArea {
        display: flex;
        flex-direction: column;
        .inputItem {
          display: flex;
          flex-direction: column;
          .txinput{
            // display: none;
            outline: none;
            border: none;
            border: 1px solid silver;


          }
        }
      }
      .customButton{
        button{
          cursor: pointer;
          padding: 10px 15px;
          margin-top: 1rem;
          outline: none;
          border: none;
          background: #0565fe;
          color: white;
          font-size: 16px;
          border-radius: 5px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

/* Tablet Styles ($tablet-breakpoint to $desktop-breakpoint) */
@media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1}) {
  .contactPageForm {
    display: flex;
    // background: red;
    flex-direction: column;

    .contactPageFormLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      padding-left: 2rem;

      // gap: 1rem;
      .contactPageFormLeftTitle {
        font-size: 45px;
        font-weight: 400;
        color: #f5f5f5; /* fallback color */
        background: linear-gradient(to right, #0565fe, #d241a4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-wrap: nowrap;
        margin-bottom: 1.5rem;
        text-transform: capitalize;
      }
      .contact-info {
        border-bottom: 1px solid silver;
        padding-bottom: 1rem;
        .contactinfoHeder {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 40px;
          }
          span {
            font-size: 20px;
            font-weight: 600;
            color: black;
          }
          // span::after {
          //   content: "";
          //   position: absolute;
          //   color: black;

          //   left: 0;
          //   bottom: 0;
          //   width: 100%;
          //   height: 2px;
          //   background: black;

          //   transform: scaleX(0);
          //   margin-top: 1rem;
          //   transform-origin: right;
          //   transition: all 250ms ease-in;
          // }
          // span:hover:after {
          //   transform: scaleX(1);
          //   transform-origin: left;
          //   color: black;
          // }
        }
        .contact-content {
          display: flex;
          align-items: center;
          // padding-left: 2rem;
          padding-top: 0.5rem;
          gap: 1rem;
          svg {
            font-size: 20px;
          }

          span {
            font-size: 16px;
            word-spacing: 2px;
            letter-spacing: 1px;
            position: relative;
            cursor: pointer;
            color: black;
            a {
              text-decoration: none;
              color: black;
            }
          }
          // span::after {
          //   content: "";
          //   position: absolute;
          //   color: black;

          //   left: 0;
          //   bottom: 0;
          //   width: 100%;
          //   height: 2px;
          //   background: rgba(0, 0,0,0.8);

          //   transform: scaleX(0);
          //   margin-top: 1rem;
          //   transform-origin: right;
          //   transition: all 250ms ease-in;
          // }
          // span:hover:after {
          //   transform: scaleX(1);
          //   transform-origin: left;
          //   color: black;
          // }
        }
        .contactIframe {
          // display: none;
          margin-top: 1rem;
        }
      }
      .customContact-info {
        border-bottom: none;
        padding-top: 1rem;
        // margin-bottom: 1rem;
        .contact-content {
          svg {
            font-size: 25px;
          }
        }
      }
    }
    .contactPageFormRight {
      flex: 1;
      margin: 0rem;
      padding: 1rem;
      padding-bottom: 3rem;
      // margin-left: 0;
      // // background:yellow;
      // height: 30rem;
      // display: flex;
      // flex-direction: column;
      gap: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .contactRow {
        display: flex;
        // justify-content: s;
        gap: 1rem;
        .inputItem {
          display: flex;
          flex-direction: column;
          gap: 3px;
          margin-top: 2rem;
          label {
            color: #0565fe;
            font-size: 16px;
          }
  
          input {
            outline: none;
            border: none;
            border: 1px solid silver;
            // margin-top: 1rem;
            width: 250px;
            padding: 1rem;
            border-radius: 5px;
          }
          .contactCaptchaContainer {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;
            align-items: center;
            span {
              background: black;
              color: white;
              padding: 5px 10px;
            }
            svg {
              color: #0565fe;
              font-size: 20px;
              cursor: pointer;
            }
          }
          .captcheresult{
  color: red;
            font-size: 16px;
  
          }
        }
      }
      .customInputArea {
        display: flex;
        flex-direction: column;
        .inputItem {
          display: flex;
          flex-direction: column;
         
          .txinput{
            // display: none;
            outline: none;
            border: none;
            border: 1px solid silver;


          }
        

        }
     
      }
      .customButton{
        button{
          cursor: pointer;
          padding: 10px 15px;
          margin-top: 1rem;
          outline: none;
          border: none;
          background: #0565fe;
          color: white;
          font-size: 16px;
          border-radius: 5px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

/* Desktop Styles ($desktop-breakpoint to $large-screen-breakpoint) */
@media (min-width: #{$desktop-breakpoint}) and (max-width: #{$large-screen-breakpoint - 1}) {
}

/* Large Screen Styles ($large-screen-breakpoint and up) */
@media (min-width: #{$large-screen-breakpoint}) {
}
