@import "../../Styles/_constant.scss";
@import "../../Styles/_variables.scss";

.problem-wrapper {
  /* background: red; */
  width: 100%;
  // background-image: url(../../assets//problemPage/Deskto.png);
  /* font-family: 'Open Sans', sans-serif; */
}

.problem-container {
  width: 100%;
  padding: 1rem 5rem;
  padding-top: 3rem;
  /* overflow: hidden; */
}
.problem-header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  align-items: center;
  

}
.problem-header-titel {
//  @include Title;
  /* opacity: 0.8; */
  /* font-family: "Poppins", sans-serif; */
   font-size: 35px; 
  text-align: center;
 font-weight: 700; 
 margin-bottom: 1rem;

}
.problem-header-sub_titel {
  // @include Description;
  text-align: center;

}
.problem-main-content-container {
  width: 100%;
}
.problem-main-content-row1 {
  width: 100%;
  display: flex;
}
.problem-content {
  width: 100%;
  /* background: red; */
  /* border: 2px solid black; */
  /* gap: 10px; */
  display: flex;
  margin: 1rem;
  /* padding: 1rem; */
}
.problem-content-left {
  width: 20%;
}
.problem-left-img-container {
  height: 60px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  margin-top: 0.5rem;
}
.problem-left-img-container > img {
  width: 40px;
}
.problem-left-img-container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.problem-content-right {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  gap: 0.3rem;
}
.problem-content-right-title:hover {
  color: #5e6fec;
  cursor: pointer;
}
.problem-main-content-row2 {
  width: 100%;
  display: flex;
}

.problem-content-right-title {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
}
.problem-content-right-des {
  font-size: 14px;
  opacity: 0.8;
}
.problem-content-1,.problem-content-2,.problem-content-3,.problem-content-4,.problem-content-5  ,.problem-content-6  {
  background: #5e6fec;
}
// .problem-content-2 {
//   background: #ef5350;
// }
// .problem-content-3 {
//   background: #039be5;
// }
// .problem-content-4 {
//   background: #607d8b;
// }
// .problem-content-5 {
//   background: #ffb74d;
// }
// .problem-content-6 {
//   background: #66bb6a;
// }
// @media (max-width: 768px) {
//     .problem-container {
        
//         padding: 1rem 0.5rem;
//         padding-top: 2rem
//       }


//       .problem-header-titel {
//         @include TitleResponsive;
//          /* opacity: 0.8; */
//          /* font-family: "Poppins", sans-serif; */
//          /* font-size: 2rem; */
//          text-align: center;
//            /* font-weight: 600; */
       
//        }
//        .problem-header-sub_titel {
//          @include DescriptionResponsive;
       
//        }
//   .problem-main-content-row1 {
//     flex-direction: column;
//     padding: 0 0.6rem;
//   }
//   .problem-main-content-row2 {
//     flex-direction: column;
//     padding: 0 0.6rem;

//   }
 
//   .problem-content-right{
//     /* padding-right: 8rem; */
//   }
//   .problem-content-right {
//     text-align: start;


//     /* padding:1rem; */
//   }
//   .problem-content-right-title {
//     font-size: 20px;
//     margin-right: 1%;
//     font-weight: 500;
    
//   }
//   .problem-content-right-des {
//     font-size: 15px;
  
// }
// .problem-content-right {
 
//   padding: 0.5rem;
//   gap: 0.5rem;
// }
// }