//break point
$ultraWideScreens:1400px;
$largeDesktop:1399.98px;
$desktop:1199.98px;
$laptop:991.98px;
$tablet:768px;
$phone:575.98px;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-screen-breakpoint: 1200px;

// :root{
//     /*========== Colors ==========*/
//     /*Color mode HSL(hue, saturation, lightness)*/
//     --first-color: hsl(175, 55%, 40%);
//     --first-color-light: hsl(175, 30%, 48%);
//     --first-color-lighten: hsl(175, 40%, 62%);
//     --gradient-color: linear-gradient(180deg, 
//                     hsl(178, 35%, 45%), 
//                     hsl(178, 55%, 28%));
//     --title-color: hsl(175, 40%, 16%);
//     --text-color: hsl(175, 8%, 50%);
//     --white-color: #fff;
//     --body-color: hsl(175, 100%, 99%);

//     /*========== Font and typography ==========*/
//     /*.5rem = 8px | 1rem = 16px ...*/
//     --body-font: 'Poppins', sans-serif;
//     --h2-font-size: 1.25rem;
//     --normal-font-size: .938rem;
//     --smaller-font-size: .75rem;
// }
// @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
// :root{
//     /*========== Colors ==========*/
//     /*Color mode HSL(hue, saturation, lightness)*/
//     --first-color: hsl(82, 60%, 28%);
//     --title-color: hsl(0, 0%, 15%);
//     --text-color: hsl(0, 0%, 35%);
//     --body-color: hsl(0, 0%, 95%);
//     --container-color: hsl(0, 0%, 100%);
 
//     /*========== Font and typography ==========*/
//     /*.5rem = 8px | 1rem = 16px ...*/
//     --body-font: 'Poppins', sans-serif;
//     --h2-font-size: 1.25rem;
//     --small-font-size: .813rem;
 
//     // Responsive typography
//     @media screen and (min-width: 1120px){
//        --h2-font-size: 1.5rem;
//        --small-font-size: .875rem;
//     }
//  }

/*=============== VARIABLES CSS ===============*/
// :root{
//    /*========== Colors ==========*/
//    /*Color mode HSL(hue, saturation, lightness)*/
//    --white-color: hsl(170, 12%, 98%);
//    --gray-color: hsl(170, 4%, 60%);
//    --black-color: hsl(170, 12%, 8%);

//    /*========== Font and typography ==========*/
//    /*.5rem = 8px | 1rem = 16px ...*/
//    --body-font: "Bona Nova", serif;
//    --normal-font-size: .938rem;

//    // Responsive typography
//    @media screen and (min-width: 1120px){
//       --normal-font-size: 1rem;
//    }
// }
// /* Extra small devices (phones, less than 576px) */
// @media (max-width: $phone) { 
//     /* CSS rules for extra small devices */
//   }
  
//   /* Small devices (tablets, 576px and up) */
//   @media (min-width: $phone) and (max-width: $tablet) { 
//     /* CSS rules for small devices */
//   }
  
//   /* Medium devices (small laptops, 768px and up) */
//   @media (min-width:$tablet) and (max-width: $laptop) { 
//     /* CSS rules for medium devices */
//   }
  
//   /* Large devices (laptops/desktops, 992px and up) */
//   @media (min-width: $laptop) and (max-width: $desktop) { 
//     /* CSS rules for large devices */
//   }
  
//   /* Extra large devices (large desktops, 1200px and up) */
//   @media (min-width: $desktop) and (max-width: $largeDesktop) { 
//     /* CSS rules for extra large devices */
//   }
  
//   /* Extra extra large devices (ultra-wide screens, 1400px and up) */
//   @media (min-width: $ultraWideScreens) { 
    
//     /* CSS rules for extra extra large devices */
//   }

//color
$secondary-color: black;
$primary-color:#F43F5E;
$orgGreen:#6FBE44;
// $green:rgba(52, 152, 204, 1);

$green:#3273F3;



$gold:#F4911E;
$background-color: rgba(52, 152, 204, 0.1);









$trans: 0.3s ease-in-out;



$md-gap: 3rem;
