@import "../../styles/constant";
@import "../../styles/variables";

// @keyframes Transform {
//   from {
//     transform: translateX(400px);
//   }
//   to {
//     transform: translateX(0px);
//   }
// }
.nav_home {
  width: 100%;
  height: 100%;
  // position: relative;
  position: absolute;
  


}
.Topbutton{
  position: absolute;
  left: 1rem;

}


