@import "../../Styles/constant";
@import "../../Styles/variables";

.challenges_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  .challenges_header_title_container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    .challenges_header_title {
      text-align: center;
      font-size: 35px;
      font-weight: 800;
      color: rgba(0,0,0,0.8);

      // @include Title;
    }
  }
  .challenges_main_content {
    width: 100%;
    display: flex;
    div {
      flex: 1;
    }
    padding: 2rem 0.5rem;
    gap: 3rem;
    .challenges_main_content_left {
      display: flex;
      flex-direction: column;
      div {
        flex: 1;
      }
      gap: 2rem;
      .challenges_content {
        display: flex;
        border-radius: 5px;
        padding: 1rem 0rem;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;

        .challenges_img_container {
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: center;
          // padding-right: 1rem;
          flex: 1;
          margin-right: 2%;

          img {
            width: 120px;
          }
        }
        .challenges_text_container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          flex: 3;
          padding-right: 1rem;
          .challenges_content_title {
            font-weight: 800;
          }
          .challenges_content_des {
          }
        }
      }
    }
    .challenges_main_content_right {
      display: flex;
      flex-direction: column;
      div {
        flex: 1;
      }
      gap: 2rem;
      .challenges_content {
        display: flex;
        .challenges_img_container {
          // flex: 1;

          img {
            width: 130px;
          }
        }
        .challenges_text_container {
          flex: 2;
        }
      }
    }
  }

  .challenges_content {
    display: flex;
    border-radius: 5px;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    .challenges_img_container {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
      // padding-right: 1rem;
      flex: 1;

      img {
        width: 90px;
      }
    }
    .challenges_text_container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex: 3;
      padding-right: 1rem;
      .challenges_content_title {
        font-weight: 800;
      }
      .challenges_content_des {
      }
    }
  }
}
@media (max-width: #{$tablet-breakpoint - 1}) {
  .challenges_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .challenges_header_title_container {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      .challenges_header_title {
        text-align: center;
        font-size: 35px;
        font-weight: 800;
  
        // @include Title;
      }
    }
    .challenges_main_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      div {
        flex: 1;
      }
      padding: 2rem 0.5rem;
      gap: 3rem;
      .challenges_main_content_left {
        display: flex;
        flex-direction: column;
        div {
          flex: 1;
        }
        gap: 2rem;
        .challenges_content {
          display: flex;
          border-radius: 5px;
          padding: 1rem 0rem;
          align-items: center;
          justify-content: space-evenly;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 15px;
  
          .challenges_img_container {
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: center;
            // padding-right: 1rem;
            flex: 1;
            margin-right: 2%;
  
            img {
              width: 120px;
            }
          }
          .challenges_text_container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            flex: 3;
            padding-right: 1rem;
            .challenges_content_title {
              font-weight: 800;
            }
            .challenges_content_des {
            }
          }
        }
      }
      .challenges_main_content_right {
        display: flex;
        flex-direction: column;
        div {
          flex: 1;
        }
        gap: 2rem;
        .challenges_content {
          display: flex;
          .challenges_img_container {
            // flex: 1;
  
            img {
              width: 130px;
            }
          }
          .challenges_text_container {
            flex: 2;
          }
        }
      }
    }
  
    .challenges_content {
      display: flex;
      border-radius: 5px;
      padding: 1rem 0rem;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 15px;
      .challenges_img_container {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        // padding-right: 1rem;
        flex: 1;
  
        img {
          width: 90px;
        }
      }
      .challenges_text_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 3;
        padding-right: 1rem;
        .challenges_content_title {
          font-weight: 800;
        }
        .challenges_content_des {
        }
      }
    }
  }
}

/* Tablet Styles ($tablet-breakpoint to $desktop-breakpoint) */
@media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1}) {
}

/* Desktop Styles ($desktop-breakpoint to $large-screen-breakpoint) */
@media (min-width: #{$desktop-breakpoint}) and (max-width: #{$large-screen-breakpoint - 1}) {
}

/* Large Screen Styles ($large-screen-breakpoint and up) */
@media (min-width: #{$large-screen-breakpoint}) {
}