@import "../../Styles/constant";
@import "../../Styles/variables";

.solution-wrapper{
    width: 100%;
    background: white;
}
.solution-container{
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .devopsOverviewSection1{
        display: flex;
        // flex-wrap: wrap-reverse;\
        flex-direction: row-reverse;
        padding-top: 1rem;
        padding-right: 1rem;
        .devopsOverviewSection1LeftContainer{
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img{
    width: 22rem;
    }
        }
        .devopsOverviewSection1RightContainer{
          display: flex;
          flex-direction: column;
          padding: 1rem;
          padding-left: 2rem;
    
          .devopsOverviewSection1BigText{
            font-size: 40px;
            font-weight: 600;
    
          }
          .devopsOverviewSection1Des{
            margin-top: 2rem;
            font-size: 17px;
            line-height: 2rem;
            word-spacing: 1px;
            letter-spacing: 1px;
    
          }
          .cloudMigrateSection2BottomButton{
                margin-bottom: 1.5rem;
        
                padding: 13px 13px;
                width: 290px;
                border-radius: 40px;
        
                background: $green;
                display: flex;
                align-items: start;
                text-align: start;
                gap: 8px;
        
                margin-top: 3rem;
                cursor: pointer;
                &:hover {
                  svg {
                    transform: translateX(8px);
                  }
                }
                a {
                  text-decoration: none;
                  color: white;
                  // color: white;
                  margin-left: 3px;
        
                  font-weight: 600;
                  letter-spacing: 1px;
                }
                svg {
                  color: white;
                  // color: w;
        
                  transform: translateX(0px);
                  transition: 0.5s;
                  font-size: 20px;
                }
              }
        }
      }
      .devopsOverviewSection2{
    
          margin: 0rem 4rem;
          margin-top: 2rem;
          margin-bottom: 3rem;
          padding: 3rem;
          background: #f1f2f5;
          text-align: center;
          display: flex;
          flex-direction: column;
          .cloudMigrateSection2Header {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 2rem;
            //   display: flex;
          }
          .cloudMigrateSection2innerConatiner {
            width: 100%;
            display: flex;
            gap: 2rem;
            padding: 0rem 3rem;
            .cloudMigrateSection2innerLeft {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1.5rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
            .cloudMigrateSection2innerRight {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
    
          .cloudMigrateSection2BottomContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .cloudMigrateSection2BottomText {
              font-size: 18px;
              margin-top: 3rem;
              font-weight: 600;
              margin-bottom: 0.8rem;
            }
            .cloudMigrateSection2BottomButton {
              margin-bottom: 1.5rem;
    
              padding: 13px 13px;
              width: 280px;
              border-radius: 40px;
    
              background: $green;
              display: flex;
              align-items: start;
              text-align: start;
              gap: 8px;
    
              margin-top: 1rem;
              cursor: pointer;
              &:hover {
                svg {
                  transform: translateX(8px);
                }
              }
              a {
                text-decoration: none;
                color: white;
                // color: white;
                margin-left: 3px;
    
                font-weight: 600;
                letter-spacing: 1px;
              }
              svg {
                color: white;
                // color: w;
    
                transform: translateX(0px);
                transition: 0.5s;
                font-size: 20px;
              }
            }
          }
        }
}
@media (max-width: #{$tablet-breakpoint - 1}) {
//   .solution-wrapper{
//     width: 100%;
//     background: white;
// }
.solution-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .devopsOverviewSection1{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap-reverse;\
        // flex-direction: row-reverse;
        padding-top: 0rem;
        padding-right: 1rem;
        .devopsOverviewSection1LeftContainer{
          display: none;
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // img{
    // width: 22rem;
    // }
        }
        .devopsOverviewSection1RightContainer{
          display: flex;
          flex-direction: column;
          padding-left: 0rem;
          padding: 0rem;

    
          .devopsOverviewSection1BigText{
            font-size: 30px;
            font-weight: 600;
    
          }
          .devopsOverviewSection1Des{
            margin-top: 2rem;
            font-size: 17px;
            line-height: 1.5rem;
            word-spacing: 1px;
            letter-spacing: 1px;
    
          }
          .cloudMigrateSection2BottomButton{
                // margin-bottom: 1.5rem;
        
                // padding: 13px 13px;
                // width: 290px;
                // border-radius: 40px;
        
                // background: $green;
                // display: flex;
                // align-items: start;
                // text-align: start;
                // gap: 8px;
        
                // margin-top: 3rem;
                // cursor: pointer;
                display: none;
                // &:hover {
                //   svg {
                //     transform: translateX(8px);
                //   }
                // }
                // a {
                //   text-decoration: none;
                //   color: white;
                //   // color: white;
                //   margin-left: 3px;
        
                //   font-weight: 600;
                //   letter-spacing: 1px;
                // }
                // svg {
                //   color: white;
                //   // color: w;
        
                //   transform: translateX(0px);
                //   transition: 0.5s;
                //   font-size: 20px;
                // }
              }
        }
      }
      .devopsOverviewSection2{
    
          margin: 0rem 4rem;
          margin-top: 2rem;
          margin-bottom: 3rem;
          padding: 3rem;
          background: #f1f2f5;
          text-align: center;
          display: flex;
          flex-direction: column;

          display: none;
          .cloudMigrateSection2Header {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 2rem;
            //   display: flex;
          }
          .cloudMigrateSection2innerConatiner {
            width: 100%;
            display: flex;
            gap: 2rem;
            padding: 0rem 3rem;
            .cloudMigrateSection2innerLeft {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1.5rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
            .cloudMigrateSection2innerRight {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
    
          .cloudMigrateSection2BottomContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .cloudMigrateSection2BottomText {
              font-size: 18px;
              margin-top: 3rem;
              font-weight: 600;
              margin-bottom: 0.8rem;
            }
            .cloudMigrateSection2BottomButton {
              margin-bottom: 1.5rem;
    
              padding: 13px 13px;
              width: 280px;
              border-radius: 40px;
    
              background: $green;
              display: flex;
              align-items: start;
              text-align: start;
              gap: 8px;
    
              margin-top: 1rem;
              cursor: pointer;
              &:hover {
                svg {
                  transform: translateX(8px);
                }
              }
              a {
                text-decoration: none;
                color: white;
                // color: white;
                margin-left: 3px;
    
                font-weight: 600;
                letter-spacing: 1px;
              }
              svg {
                color: white;
                // color: w;
    
                transform: translateX(0px);
                transition: 0.5s;
                font-size: 20px;
              }
            }
          }
        }
}
}

/* Tablet Styles ($tablet-breakpoint to $desktop-breakpoint) */
@media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1}) {
  .solution-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .devopsOverviewSection1{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap-reverse;\
        // flex-direction: row-reverse;
        padding-top: 0rem;
        padding-right: 1rem;
        padding-left: 2rem;
        .devopsOverviewSection1LeftContainer{
          display: none;
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // img{
    // width: 22rem;
    // }
        }
        .devopsOverviewSection1RightContainer{
          display: flex;
          flex-direction: column;
          padding-left: 0rem;
          padding: 0rem;

    
          .devopsOverviewSection1BigText{
            font-size: 30px;
            font-weight: 600;
    
          }
          .devopsOverviewSection1Des{
            margin-top: 2rem;
            font-size: 17px;
            line-height: 1.5rem;
            word-spacing: 1px;
            letter-spacing: 1px;
    
          }
          .cloudMigrateSection2BottomButton{
                // margin-bottom: 1.5rem;
        
                // padding: 13px 13px;
                // width: 290px;
                // border-radius: 40px;
        
                // background: $green;
                // display: flex;
                // align-items: start;
                // text-align: start;
                // gap: 8px;
        
                // margin-top: 3rem;
                // cursor: pointer;
                display: none;
                // &:hover {
                //   svg {
                //     transform: translateX(8px);
                //   }
                // }
                // a {
                //   text-decoration: none;
                //   color: white;
                //   // color: white;
                //   margin-left: 3px;
        
                //   font-weight: 600;
                //   letter-spacing: 1px;
                // }
                // svg {
                //   color: white;
                //   // color: w;
        
                //   transform: translateX(0px);
                //   transition: 0.5s;
                //   font-size: 20px;
                // }
              }
        }
      }
      .devopsOverviewSection2{
    
          margin: 0rem 4rem;
          margin-top: 2rem;
          margin-bottom: 3rem;
          padding: 3rem;
          background: #f1f2f5;
          text-align: center;
          display: flex;
          flex-direction: column;

          display: none;
          .cloudMigrateSection2Header {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 2rem;
            //   display: flex;
          }
          .cloudMigrateSection2innerConatiner {
            width: 100%;
            display: flex;
            gap: 2rem;
            padding: 0rem 3rem;
            .cloudMigrateSection2innerLeft {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1.5rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
            .cloudMigrateSection2innerRight {
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-top: 1rem;
              .cloudMigrateSection1LeftBottomContainer {
                display: flex;
                align-items: start;
                gap: 1rem;
    
                img {
                  margin-top: 5px;
                  width: 20px;
                }
                span {
                  text-align: start;
                  font-size: 18px;
                  line-height: 1.5rem;
                  span {
                    font-weight: 800;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
    
          .cloudMigrateSection2BottomContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .cloudMigrateSection2BottomText {
              font-size: 18px;
              margin-top: 3rem;
              font-weight: 600;
              margin-bottom: 0.8rem;
            }
            .cloudMigrateSection2BottomButton {
              margin-bottom: 1.5rem;
    
              padding: 13px 13px;
              width: 280px;
              border-radius: 40px;
    
              background: $green;
              display: flex;
              align-items: start;
              text-align: start;
              gap: 8px;
    
              margin-top: 1rem;
              cursor: pointer;
              &:hover {
                svg {
                  transform: translateX(8px);
                }
              }
              a {
                text-decoration: none;
                color: white;
                // color: white;
                margin-left: 3px;
    
                font-weight: 600;
                letter-spacing: 1px;
              }
              svg {
                color: white;
                // color: w;
    
                transform: translateX(0px);
                transition: 0.5s;
                font-size: 20px;
              }
            }
          }
        }
}
}

/* Desktop Styles ($desktop-breakpoint to $large-screen-breakpoint) */
@media (min-width: #{$desktop-breakpoint}) and (max-width: #{$large-screen-breakpoint - 1}) {
}

/* Large Screen Styles ($large-screen-breakpoint and up) */
@media (min-width: #{$large-screen-breakpoint}) {
}
