@import "../../../styles/constant";
@import "../../../styles/variables";
.N_C_C-conatiner {
  width: 370px;
  height: 450px;
  background: white;
  // margin: 0 2rem;
  // margin-left: 1%;
  // background: transparent;
  //    @include flexCol;
  //    align-items: center;
  //    justify-content: center;
  //    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  // margin-left: 10px;
  // margin-right: 10rem;
  padding: 0;
  margin: 0;
  .N_C_C-imgConatiner {
    img {
      width: 370px;
      height: 220px
    }
  }
  .N_C_C-text-container {
    @include flexCol;
    gap: 1rem;

    line-height: 1.5rem;

    padding: 1rem;
    .N_C_C-top {
      // display: flex;
      display: flex;
      gap: 1rem;
      // .N_C_C-top_Text {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;

      //   text-align: center;
      //   gap: 5px;
      //   svg {
      //     font-size: 16px;
      //     color: $green;
      //   }
      //   span {
      //     font-size: 10px;
      //   }
      // }
    }
    .N_C_C-middel {
      height: 140px;
    }
    .N_C_C-bottom {
      display: flex;
      // align-items: center;
      align-items: center;
      justify-content: start;
      text-align: center;
      color: $green;
      gap: 10px;
      font-weight: 600;
      

      a {
        color: $green;
        text-decoration: none;
        font-weight: 600;
      margin-bottom: 0;
position: static;
bottom: 0;
        &:hover {
          opacity: 0.8;
        }
      }
      svg {
      }
    }

    // a {
    //   text-decoration: none;
    //   color: $green;
    //   font-size: 20px;
    //   font-weight: 600;
    //   letter-spacing: 1px;
    // }
    // span {
    //   color: #1973e7;
    //   font-size: 18px;
    //   font-weight: 600;
    //   letter-spacing: 1px;
    // }
  }
}
