@import "../../Styles/constant";
@import "../../Styles/variables";

.r-wraper {
  /* background: #F9FBF9; */
  background-image: url(../../assets/Free-trialbgla.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* background: #0B163F; */
  position: relative;
  overflow: hidden;
 
 



  padding: 2rem;
  
}

.r-timeLine-container {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}
.r-header {
  // @include Title;
  text-align:start;
  margin-left: 0%;
  
  color: white;
  // font-weight:600;
  // font-size: 1.8rem;
  // border-left: 2px solid black;
  // opacity: 0.8;
  padding-left: 0rem;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  
  
}
.r-container {
  padding: 10px 50px;
  padding-top: 2rem;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  z-index: 2;
}
.r-left-outerImg{
  background: #E4E9FF;

}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.r-container:nth-child(1) {
  animation-delay: 0s;
  
}
.r-container:nth-child(2) {
  animation-delay: 1s;
}
.r-container:nth-child(3) {
  animation-delay: 2s;
}
.r-container:nth-child(4) {
  animation-delay: 3s;
}

.textBoxContainer {
  padding: 2px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: var(--shadow);
}
.r-left-container {
  left: 0;
}

.r-right-container {
  left: 50%;
  
}
// .r-right-container > img {
//   left: -20px;
// }
.r-timeLine-container::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 100%;
  // background:;
  background: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: moveline 6s linear forwards;
  border-radius: 10px;
  z-index: 1;
}
.r-titel {
  color: #1f3e72;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.textBoxContainer {
  display: flex;
  font-weight: 600;
  background: #E4E9FF;
gap: 3rem;
  height: 7.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.textBoxContainer-right {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  .r-dec{
    font-size: 20px;
    font-weight: 700;
  }
  .r-decSmall{
    margin-top: 10px;
    font-size: 15px;
    color: black;
    opacity: 0.8;
  }
}

.textBoxContainer-left small {
  display: inline-block;
  margin-bottom: 5px;
}
.left-container-arrow{

  
  position: absolute;
  top: 17px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E4E9FF;
  right: -14px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 17px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid  #E4F6EF;
  
  ;
  

  left: -14px;
}




/* --------- */

.home-annimation-area{
  width: 100%;
 }
 
 .box-area{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
 
 }
 
 .box-area li{
     position: absolute;
     display: block;
     list-style: none;
     width: 20px;
     height: 20px;
     background:linear-gradient(#004aad,#cb6ce6);
     animation: animate 15s linear infinite;
     bottom: -150px;
     z-index: 1;
     border-radius: 999px;
 
 
     
 
 }
 
 .box-area li:nth-child(6){
     left: 86%;
     width: 80px;
     height: 80px;
     animation-delay: 0s;
 
 }
 .box-area li:nth-child(5){
     left: 12%;
     width: 30px;
     height: 30px;
     animation-delay: 1.5s;
     animation-duration: 10s;
 
 }
 .box-area li:nth-child(4){
     left: 70%;
     width: 100px;
     height: 100px;
     animation-delay: 5.5s;
 
 }
 .box-area li:nth-child(3){
     left: 70%;
     width: 158px;
     height: 150px;
     animation-delay: 0s;
 animation-duration: 15s;
 }
 
 .box-area li:nth-child(2){
     left: 65%;
     width: 40px;
     height: 40px;
     animation-delay: 0s;
 }
 .box-area li:nth-child(1){
     left: 15%;
     width: 110px;
     height: 110px;
     animation-delay: 3.5s;
 }
 @keyframes animate {
     0%{
         transform: translateY(0) rotate(0deg);
         opacity: 0.8;
     }
     100%{
         transform: translateY(-800px) rotate(360deg);
         opacity: 0;
     }
     
     
 }
 .left-container-arrow-modified-1{
  border-left: 15px solid #E4F6EF;
  

  
 }
 .right-container-arrow-modified-2{
  border-right: 15px solid #F6FDD6;



 }

 .left-container-arrow-modified-3{
  border-left: 15px solid #FEF6D6;  
 }
 .right-container-arrow-modified-4{
  border-right: 15px solid #E4F6EF;

  

 }
.left-container-arrow-modified-5{
  border-left: 15px solid #F6FDD6;


}
.right-container-arrow-modified-6{
  border-right: 15px solid #FEF6D6;

}






@media screen and (max-width: 600px) {
  .r-wraper {
    /* background: white; */
  
    padding: 0.5rem;
    padding-right: 1rem;
  }
  
  .r-timeLine-container {
    margin: 50px auto;
  }
  .r-timeLine-container::after {
    left: 40px;
  }
  .r-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 0;

    
  }
  .r-header{
    // @include TitleResponsive;
    text-align: start;
  }
  .textBoxContainer {
    font-size: 12px;
    height: 12rem;
  }
  .textBoxContainer > small {
    margin-bottom: 10px;
  }
  .r-right-container {
    left: 0;
  }
  .r-left-container img,
  .r-right-container img {
    left: 10px;
  }

  .textBoxContainer-left > img {
    
    
    width: 2.3rem;
  }
  .textBoxContainer {
    

    /* padding: 2px 10px; */
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    gap: 5rem;
  padding: 2px 10px;

    /* box-shadow: var(--shadow); */


  }
  // .textBoxContainer-left small {
  //   display: inline-block;
  //   /* margin-bottom: 20px; */
  //   font-size: 100px;
  //   padding-top: 5px;
  // }
  .textBoxContainer-right{
    /* padding-left: 1rem; */
    
    font-size: 11px;
  }
  .textBoxContainer-left {
    /* padding-right: 3rem;
    padding-top: 0.5rem; */
    display: flex;
    flex-direction: column;
    /* background: red; */
    /* border: 1px solid red; */
    width: 100%;
   
    gap: 0.5rem;
    
    
  }
  .left-container-arrow{
    position: absolute;
    top: 17px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    // border-left: 15px solid white;
    left: -14px;
    height: 0;
    width: 0;
    position: absolute;
    top: 17px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid  #E4E9FF;;
    
  
    left: -29px;

  }
  .left-container-arrow-modified-1{
    border-left: 15px solid #E4F6EF;
    border-left: none;
  margin-left: 15px;
  
    
   }
   .right-container-arrow-modified-2{
    border-right: 15px solid #F6FDD6;
  
  
  
   }
  .left-container-arrow-modified-3{
    border-right: 15px solid #FEF6D6;  
    border-left: none;
    margin-left: 15px;
   }
   .left-container-arrow-modified-5{
    // border-right: 15px solid #F6FDD6;
  
  
  }

  .r-date{
    font-size: 200px;
  }
  .r-header-titel {
   
    
    
    font-size: 1.2rem;
    
   
  }
  
}


@media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1}) {

  .textBoxContainer {
 
    height: 14rem;
    
    
   
  }

}
